//定义变量
$fontFamily= "全新硬笔行书简"
font-size=30px
$font=font-size "全新硬笔行书简"
html,body
  background-color green
  .app
    width 200px
    height 100px
    background-color pink
    // font-family $fontFamily
    font $font
    
    &.cls
      color red